body {
    margin: 0;
    padding: 0;
    background-color: rgb(195, 255, 255);
}

header {
    padding: 20px 0;
}

.container {
    width: 50%;
    padding: 25px;
}

.navbar{
    background-color: rgb(95, 139, 139);
}